[Unit]
Description=Pixi Varlink Socket

[Socket]
ListenStream=/run/pixi/pixi.sock
FileDescriptorName=varlink
SocketMode=0666
RuntimeDirectory=pixi
RuntimeDirectoryMode=0755

[Install]
WantedBy=sockets.target
